@charset "UTF-8";
/* line 2, ../sass/xxl.scss */
.main { max-width: 980px; max-width: 61.25rem; margin: 0 auto; height: auto; overflow: hidden; }
/* line 6, ../sass/xxl.scss */
.main h1 { margin: 10px 0px 8px 0px; margin: 0.625rem 0rem 0.5rem 0rem; }
@media (max-width: 768px) { /* line 6, ../sass/xxl.scss */
  .main h1 { height: auto; overflow: hidden; } }
@media (min-width: 769px) { /* line 6, ../sass/xxl.scss */
  .main h1 { height: 65px; overflow: hidden; height: 4.0625rem; overflow: hidden; } }
/* line 16, ../sass/xxl.scss */
.main .nav { background-color: #3366cc; text-align: center; font-family: Microsoft YaHei; font-size: 14px; line-height: 36px; font-family: Microsoft YaHei; font-size: 0.875rem; line-height: 2.25rem; color: #fff; }
@media (max-width: 768px) { /* line 16, ../sass/xxl.scss */
  .main .nav { height: auto; }
  /* line 19, ../sass/xxl.scss */
  .main .nav a { padding: 0 0.625rem; } }
@media (min-width: 769px) { /* line 16, ../sass/xxl.scss */
  .main .nav { height: 2.25rem; }
  /* line 25, ../sass/xxl.scss */
  .main .nav a { padding: 0 2rem; } }
/* line 32, ../sass/xxl.scss */
.main .nav a { color: #fff; text-decoration: none; }
/* line 37, ../sass/xxl.scss */
.main .nav-bottom { background-color: #e2e2e2; text-align: center; font-family: Microsoft YaHei; font-size: 12px; line-height: 30px; font-family: Microsoft YaHei; font-size: 0.75rem; line-height: 1.875rem; color: #000; height: 30px; height: 1.875rem; overflow: hidden; position: relative; }
/* line 37, ../sass/_haiwai.scss */
.main .nav-bottom a { text-decoration: none; color: #000; }
/* line 45, ../sass/xxl.scss */
.main .nav-bottom span.l { width: 48px; width: 3rem; height: 28px; height: 1.75rem; background: url("../xjp_images/m.jpg") no-repeat left 1px; background: url("../xjp_images/m.jpg") no-repeat left 0.0625rem; background-size: 28px; background-size: 1.75rem; float: left; margin: 0px 0px 0px 1px; margin: 0rem 0rem 0rem 0.0625rem; padding: 1px 12px 1px 40px; padding: 0.0625rem 0.75rem 0.0625rem 2.5rem; color: #cb4953; border-right: 1px solid #bcbcbc; border-right: 0.0625rem solid #bcbcbc; line-height: 28px; line-height: 1.75rem; }
/* line 58, ../sass/xxl.scss */
.main .nav-bottom ul { width: 100%; position: absolute; left: 101px; left: 6.3125rem; overflow: hidden; top: 0; }
/* line 64, ../sass/xxl.scss */
.main .nav-bottom ul li { height: 30px; height: 1.875rem; overflow: hidden; text-align: left; }
/* line 69, ../sass/xxl.scss */
.main .nav-bottom ul li span.c { color: #363636; padding: 0px 0px 0px 22px; padding: 0rem 0rem 0rem 1.375rem; }
/* line 70, ../sass/xxl.scss */
.main .nav-bottom ul li span.c i { font-style: normal; color: #446fcb; }
/* line 74, ../sass/xxl.scss */
.main .nav-bottom ul li span.c em { font-style: normal; margin: 0px 10px 0px 0px; margin: 0rem 0.625rem 0rem 0rem; }
@media (max-width: 768px) { /* line 37, ../sass/xxl.scss */
  .main .nav-bottom { height: auto; }
  /* line 86, ../sass/xxl.scss */
  .main .nav-bottom span.l { width: 3.5rem; padding: 1px 12px 1px 30px; padding: 0.0625rem 0.75rem 0.0625rem 1.875rem; } }
/* line 93, ../sass/xxl.scss */
.main h2 { overflow: hidden; color: #000; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; margin-top: 10px; margin-top: 0.625rem; }
@media (max-width: 768px) { /* line 93, ../sass/xxl.scss */
  .main h2 { height: auto; font-family: Microsoft YaHei; font-size: 18px; line-height: 34px; font-family: Microsoft YaHei; font-size: 1.125rem; line-height: 2.125rem; color: #000; } }
@media (min-width: 769px) { /* line 93, ../sass/xxl.scss */
  .main h2 { height: 64px; height: 4rem; font-family: Microsoft YaHei; font-size: 40px; line-height: 64px; font-family: Microsoft YaHei; font-size: 2.5rem; line-height: 4rem; color: #000; } }
/* line 37, ../sass/_haiwai.scss */
.main h2 a { text-decoration: none; color: #000; }
/* line 108, ../sass/xxl.scss */
.main h2 a { display: inline-block; }
/* line 111, ../sass/xxl.scss */
.main h2 img { float: left; margin: 0px 20px 0px 0px; margin: 0rem 1.25rem 0rem 0rem; }
/* line 116, ../sass/xxl.scss */
.main div.topcon { height: auto; overflow: hidden; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; }
/* line 119, ../sass/xxl.scss */
.main div.topcon .l { height: 298px; height: 18.625rem; overflow: hidden; float: left; position: relative; margin: 0px 20px 0px 0px; margin: 0rem 1.25rem 0rem 0rem; /*幻灯片*/ }
@media (max-width: 768px) { /* line 119, ../sass/xxl.scss */
  .main div.topcon .l { width: 100%; }
  /* line 126, ../sass/xxl.scss */
  .main div.topcon .l .slides .main_image ul li div { width: 100%; }
  /* line 132, ../sass/xxl.scss */
  .main div.topcon .l .slides div.flicking_con { width: 100%; } }
@media (min-width: 769px) { /* line 119, ../sass/xxl.scss */
  .main div.topcon .l { width: 21.875rem; }
  /* line 143, ../sass/xxl.scss */
  .main div.topcon .l .slides .main_image ul li div { width: 21.875rem; }
  /* line 149, ../sass/xxl.scss */
  .main div.topcon .l .slides div.flicking_con { width: 21.875rem; } }
/* line 160, ../sass/xxl.scss */
.main div.topcon .l .slides { height: 298px; height: 18.625rem; }
/* line 162, ../sass/xxl.scss */
.main div.topcon .l .slides .main_image { height: 298px; height: 18.625rem; }
/* line 164, ../sass/xxl.scss */
.main div.topcon .l .slides .main_image ul { height: 298px; height: 18.625rem; }
/* line 166, ../sass/xxl.scss */
.main div.topcon .l .slides .main_image ul li { height: 298px; height: 18.625rem; }
/* line 168, ../sass/xxl.scss */
.main div.topcon .l .slides .main_image ul li div { height: 50px; height: 3.125rem; position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 10; }
/* line 176, ../sass/xxl.scss */
.main div.topcon .l .slides .main_image ul li p { width: 350px; width: 21.875rem; bottom: 20px; bottom: 1.25rem; font-family: Microsoft YaHei; font-size: 16px; line-height: 30px; font-family: Microsoft YaHei; font-size: 1rem; line-height: 1.875rem; color: #fff; position: absolute; left: 0; z-index: 20; text-align: center; }
/* line 37, ../sass/_haiwai.scss */
.main div.topcon .l .slides .main_image ul li p a { text-decoration: none; color: #fff; }
/* line 191, ../sass/xxl.scss */
.main div.topcon .l .slides div.flicking_con { bottom: 2px; bottom: 0.125rem; }
/* line 196, ../sass/xxl.scss */
.main div.topcon .c { height: auto; overflow: hidden; float: left; }
@media (max-width: 768px) { /* line 196, ../sass/xxl.scss */
  .main div.topcon .c { width: 100%; } }
@media (min-width: 769px) { /* line 196, ../sass/xxl.scss */
  .main div.topcon .c { width: 19.6875rem; } }
/* line 205, ../sass/xxl.scss */
.main div.topcon .c h4 { font-family: Microsoft YaHei; font-size: 18px; line-height: 40px; font-family: Microsoft YaHei; font-size: 1.125rem; line-height: 2.5rem; color: #000; min-height: 40px; min-height: 2.5rem; overflow: hidden; }
/* line 37, ../sass/_haiwai.scss */
.main div.topcon .c h4 a { text-decoration: none; color: #000; }
/* line 212, ../sass/xxl.scss */
.main div.topcon .c ul li { height: 30px; height: 1.875rem; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 14px; line-height: 30px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.875rem; line-height: 1.875rem; color: #000; padding: 0px 0px 0px 12px; padding: 0rem 0rem 0rem 0.75rem; background: url("../xjp_images/d.png") no-repeat 5px center; background: url("../xjp_images/d.png") no-repeat 0.3125rem center; }
/* line 37, ../sass/_haiwai.scss */
.main div.topcon .c ul li a { text-decoration: none; color: #000; }
/* line 223, ../sass/xxl.scss */
.main div.topcon .r { height: auto; overflow: hidden; float: right; }
@media (max-width: 768px) { /* line 223, ../sass/xxl.scss */
  .main div.topcon .r { width: 100%; } }
@media (min-width: 769px) { /* line 223, ../sass/xxl.scss */
  .main div.topcon .r { width: 280px; width: 17.5rem; } }
/* line 232, ../sass/xxl.scss */
.main div.topcon .r .top { font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 65px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 4.0625rem; color: #fff; height: 65px; height: 4.0625rem; overflow: hidden; background-color: #b2121f; position: relative; width: 100%; }
/* line 239, ../sass/xxl.scss */
.main div.topcon .r .top ul { width: 100%; position: absolute; left: 0; top: 0; }
/* line 244, ../sass/xxl.scss */
.main div.topcon .r .top ul li { height: 65px; height: 4.0625rem; }
/* line 246, ../sass/xxl.scss */
.main div.topcon .r .top ul li span { padding: 0px 0px 0px 10px; padding: 0rem 0rem 0rem 0.625rem; display: inline-block; float: left; }
/* line 250, ../sass/xxl.scss */
.main div.topcon .r .top ul li span.i { height: 48px; height: 3rem; padding: 17px 10px 0px 10px; padding: 1.0625rem 0.625rem 0rem 0.625rem; }
/* line 253, ../sass/xxl.scss */
.main div.topcon .r .top ul li span.i img { height: 30px; height: 1.875rem; vertical-align: top; }
/* line 258, ../sass/xxl.scss */
.main div.topcon .r .top ul li span.t { font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 65px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 4.0625rem; color: #fff; }
/* line 266, ../sass/xxl.scss */
.main div.topcon .r .b { background-color: #f6f6f6; height: auto; overflow: hidden; margin: 5px 0px 0px 0px; margin: 0.3125rem 0rem 0rem 0rem; padding: 0px 0px 15px 0px; padding: 0rem 0rem 0.9375rem 0rem; }
/* line 271, ../sass/xxl.scss */
.main div.topcon .r .b a { background: url("../xjp_images/b.png") no-repeat; background-size: cover; height: 43px; height: 2.6875rem; width: 125px; width: 7.8125rem; display: inline-block; font-family: Microsoft YaHei; font-size: 16px; line-height: 43px; font-family: Microsoft YaHei; font-size: 1rem; line-height: 2.6875rem; color: #333333; text-decoration: none; float: left; margin: 10px 0px 0px 10px; margin: 0.625rem 0rem 0rem 0.625rem; }
/* line 281, ../sass/xxl.scss */
.main div.topcon .r .b a i { height: 29px; height: 1.8125rem; width: 29px; width: 1.8125rem; margin: 7px 5px 0px 5px; margin: 0.4375rem 0.3125rem 0rem 0.3125rem; float: left; display: inline-block; }
/* line 288, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon1 { background: url("../xjp_images/ly.png") no-repeat center center; background-size: cover; }
/* line 292, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon2 { background: url("../xjp_images/dc.png") no-repeat center center; background-size: cover; }
/* line 296, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon3 { background: url("../xjp_images/ym.png") no-repeat center center; background-size: cover; }
/* line 300, ../sass/xxl.scss */
.main div.topcon .r .b a .icon4 { background: url("../xjp_images/ls.png") no-repeat center center; background-size: cover; }
/* line 304, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon5 { background: url("../xjp_images/jk.png") no-repeat center center; background-size: cover; }
/* line 308, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon6 { background: url("../xjp_images/my.png") no-repeat center center; background-size: cover; }
/* line 312, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon7 { background: url("../xjp_images/ss.png") no-repeat center center; background-size: 100% 100%; }
/* line 316, ../sass/xxl.scss */
.main div.topcon .r .b a i.icon8 { background: url("../xjp_images/qz.png") no-repeat center center; background-size: cover; }
/* line 324, ../sass/xxl.scss */
.main div.list1 { height: auto; overflow: hidden; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; }
@media (max-width: 768px) { /* line 328, ../sass/xxl.scss */
  .main div.list1 .l { width: 100%; }
  /* line 330, ../sass/xxl.scss */
  .main div.list1 .l .c { width: 100%; }
  /* line 334, ../sass/xxl.scss */
  .main div.list1 .r { width: 100%; } }
@media (min-width: 769px) { /* line 339, ../sass/xxl.scss */
  .main div.list1 .l { width: 43.75rem; }
  /* line 341, ../sass/xxl.scss */
  .main div.list1 .l .c { width: 19.6875rem; }
  /* line 350, ../sass/xxl.scss */
  .main div.list1 .r { width: 17.5rem; } }
/* line 354, ../sass/xxl.scss */
.main div.list1 .l { height: auto; overflow: hidden; }
/* line 356, ../sass/xxl.scss */
.main div.list1 .l .c { height: auto; overflow: hidden; margin: 20px 32px 0px 0px; margin: 1.25rem 2rem 0rem 0rem; float: left; }
/* line 360, ../sass/xxl.scss */
.main div.list1 .l .c h4 { height: 50px; height: 3.125rem; padding: 0px 0px 0px 92px; padding: 0rem 0rem 0rem 5.75rem; overflow: hidden; background: url("../xjp_images/xxl_34.jpg") no-repeat left center; position: relative; }
/* line 366, ../sass/xxl.scss */
.main div.list1 .l .c h4 span { width: 100%; height: 28px; height: 1.75rem; overflow: hidden; display: inline-block; border-top: 1px solid #2e64d1; border-top: 0.0625rem solid #2e64d1; margin: 19px 0px 0px 0px; margin: 1.1875rem 0rem 0rem 0rem; color: #000; font-family: Microsoft YaHei; font-size: 18px; line-height: 28px; font-family: Microsoft YaHei; font-size: 1.125rem; line-height: 1.75rem; color: #000; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .l .c h4 span a { text-decoration: none; color: #000; }
/* line 377, ../sass/xxl.scss */
.main div.list1 .l .c h4 a.m { height: 36px; height: 2.25rem; width: 52px; width: 3.25rem; display: inline-block; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 36px; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 1.125rem; line-height: 2.25rem; color: #000; color: #3366cc; text-decoration: none; text-align: center; background-color: #fff; position: absolute; right: 20px; right: 1.25rem; top: 0; z-index: 20; }
/* line 394, ../sass/xxl.scss */
.main div.list1 .l .c .t { height: auto; overflow: hidden; margin: 16px 0px 0px 0px; margin: 1rem 0rem 0rem 0rem; }
/* line 397, ../sass/xxl.scss */
.main div.list1 .l .c .t img { height: 90px; height: 5.625rem; width: 160px; width: 10rem; float: left; }
/* line 402, ../sass/xxl.scss */
.main div.list1 .l .c .t .cb { height: 90px; height: 5.625rem; width: 140px; width: 8.75rem; overflow: hidden; float: right; }
/* line 407, ../sass/xxl.scss */
.main div.list1 .l .c .t .cb h5 { font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 18px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.125rem; color: #000; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .l .c .t .cb h5 a { text-decoration: none; color: #000; }
/* line 411, ../sass/xxl.scss */
.main div.list1 .l .c .t .cb p { font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 22px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.375rem; color: #808080; margin: 5px 0px 0px 0px; margin: 0.3125rem 0rem 0rem 0rem; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .l .c .t .cb p a { text-decoration: none; color: #808080; }
/* line 418, ../sass/xxl.scss */
.main div.list1 .l .c .lt { height: auto; overflow: hidden; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; }
/* line 422, ../sass/xxl.scss */
.main div.list1 .l .c .lt ul li { height: 28px; height: 1.75rem; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 14px; line-height: 28px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.875rem; line-height: 1.75rem; color: #000; background: url("../xjp_images/d.png") no-repeat 7px center; background: url("../xjp_images/d.png") no-repeat 0.4375rem center; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .l .c .lt ul li a { text-decoration: none; color: #000; }
/* line 427, ../sass/xxl.scss */
.main div.list1 .l .c .lt ul li a:hover, .main div.list1 .l .c .lt ul li a:active { text-decoration: underline; }
/* line 437, ../sass/xxl.scss */
.main div.list1 .r { float: right; height: auto; overflow: hidden; }
/* line 440, ../sass/xxl.scss */
.main div.list1 .r .d1 { height: auto; overflow: hidden; padding: 96px 0px 0px 0px; padding: 6rem 0rem 0rem 0rem; background: url("../xjp_images/xxl_07.jpg") no-repeat left top; background-size: 100% auto; }
/* line 445, ../sass/xxl.scss */
.main div.list1 .r .d1 div.c { padding: 10px 15px 18px 15px; padding: 0.625rem 0.9375rem 1.125rem 0.9375rem; border: 1px solid #d6d6d6; border: 0.0625rem solid #d6d6d6; border-top: 0; }
/* line 449, ../sass/xxl.scss */
.main div.list1 .r .d1 div.c p { font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 22px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.375rem; color: #666666; text-indent: 2em; color: #666666; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .r .d1 div.c p a { text-decoration: none; color: #666666; }
/* line 455, ../sass/xxl.scss */
.main div.list1 .r .d1 div.c p a i { color: #990000; font-style: normal; }
/* line 461, ../sass/xxl.scss */
.main div.list1 .r .d1 div.c div { height: auto; overflow: hidden; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; text-align: center; }
/* line 465, ../sass/xxl.scss */
.main div.list1 .r .d1 div.c div a { height: 24px; height: 1.5rem; width: 96px; width: 6rem; display: inline-block; background-color: #b2121f; border-radius: 4px; border-radius: 0.25rem; text-align: center; text-decoration: none; line-height: 24px; line-height: 1.5rem; font-family: Microsoft YaHei; font-size: 14px; line-height: 24px; font-family: Microsoft YaHei; font-size: 0.875rem; line-height: 1.5rem; color: #fff; margin: 0px 9px 0px 9px; margin: 0rem 0.5625rem 0rem 0.5625rem; }
/* line 485, ../sass/xxl.scss */
.main div.list1 .r .d2 { height: auto; overflow: hidden; }
/* line 487, ../sass/xxl.scss */
.main div.list1 .r .d2 h3 { font-family: Microsoft YaHei; font-size: 18px; line-height: 40px; font-family: Microsoft YaHei; font-size: 1.125rem; line-height: 2.5rem; color: #000; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; padding: 0px 0px 0px 15px; padding: 0rem 0rem 0rem 0.9375rem; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .r .d2 h3 a { text-decoration: none; color: #000; }
/* line 493, ../sass/xxl.scss */
.main div.list1 .r .d2 div { height: auto; overflow: hidden; border: 1px solid #d6d6d6; border: 0.0625rem solid #d6d6d6; padding: 15px 0px 15px 17px; padding: 0.9375rem 0rem 0.9375rem 1.0625rem; }
/* line 498, ../sass/xxl.scss */
.main div.list1 .r .d2 div ul li { height: 26px; height: 1.625rem; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 26px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.625rem; color: #000; overflow: hidden; padding: 0px 0px 0px 7px; padding: 0rem 0rem 0rem 0.4375rem; background: url("../xjp_images/d.png") no-repeat left center; }
/* line 37, ../sass/_haiwai.scss */
.main div.list1 .r .d2 div ul li a { text-decoration: none; color: #000; }
/* line 505, ../sass/xxl.scss */
.main div.list1 .r .d2 div ul li a:hover, .main div.list1 .r .d2 div ul li a:active { text-decoration: underline; }
/* line 516, ../sass/xxl.scss */
.main .htitle { height: 38px; height: 2.375rem; overflow: hidden; background: url("../xjp_images/h3.jpg") repeat-x; }
/* line 520, ../sass/xxl.scss */
.main .htitle a { height: 38px; height: 2.375rem; overflow: hidden; display: inline-block; padding: 0px 98px 0px 10px; padding: 0rem 6.125rem 0rem 0.625rem; background: #fff url("../xjp_images/h2.jpg") no-repeat right top; font-family: Microsoft YaHei; font-size: 20px; line-height: 38px; font-family: Microsoft YaHei; font-size: 1.25rem; line-height: 2.375rem; color: #3366cc; text-decoration: none; }
/* line 530, ../sass/xxl.scss */
.main div.list2 { height: auto; overflow: hidden; margin: 20px 0px 0px 0px; margin: 1.25rem 0rem 0rem 0rem; }
@media (max-width: 768px) { /* line 535, ../sass/xxl.scss */
  .main div.list2 div.c .l { width: 100%; padding: 0; border-right: 0; }
  /* line 543, ../sass/xxl.scss */
  .main div.list2 div.c .l .slides .main_image ul li div { width: 100%; padding: 0 0 1.875rem 0; }
  /* line 550, ../sass/xxl.scss */
  .main div.list2 div.c .l .slides div.flicking_con { width: 100%; }
  /* line 555, ../sass/xxl.scss */
  .main div.list2 div.c .r { width: 100%; margin-bottom: 0.625rem; }
  /* line 559, ../sass/xxl.scss */
  .main div.list2 div.c .r ul li { width: 100%; padding: 0; height: auto; }
  /* line 563, ../sass/xxl.scss */
  .main div.list2 div.c .r ul li img { width: 100%; } }
@media (min-width: 769px) { /* line 573, ../sass/xxl.scss */
  .main div.list2 div.c .l { width: 23rem; padding: 0.9375rem; border-right: 0.0625rem solid #d6d6d6; }
  /* line 581, ../sass/xxl.scss */
  .main div.list2 div.c .l .slides .main_image ul li div { width: 20.5rem; padding: 0 1.25rem 1.875rem 1.25rem; }
  /* line 588, ../sass/xxl.scss */
  .main div.list2 div.c .l .slides div.flicking_con { width: 23rem; }
  /* line 593, ../sass/xxl.scss */
  .main div.list2 div.c .r { width: 36.1875rem; }
  /* line 596, ../sass/xxl.scss */
  .main div.list2 div.c .r ul li { width: 16.1875rem; height: 14.25rem; padding: 0 0.9375rem; }
  /* line 600, ../sass/xxl.scss */
  .main div.list2 div.c .r ul li img { width: 16.1875rem; height: 8.8125rem; } }
/* line 609, ../sass/xxl.scss */
.main div.list2 div.c { height: auto; overflow: hidden; border: 1px solid #d6d6d6; border: 0.0625rem solid #d6d6d6; }
/* line 612, ../sass/xxl.scss */
.main div.list2 div.c .l { height: 466px; height: 29.125rem; overflow: hidden; float: left; /*幻灯片*/ }
/* line 617, ../sass/xxl.scss */
.main div.list2 div.c .l .slides { height: 466px; height: 29.125rem; }
/* line 619, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image { height: 466px; height: 29.125rem; }
/* line 621, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul { height: 466px; height: 29.125rem; }
/* line 623, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul li { height: 466px; height: 29.125rem; }
/* line 625, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul li div { background-color: #5b7493; position: absolute; left: 0; bottom: 0; }
/* line 630, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul li div h5 { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 14px; line-height: 36px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.875rem; line-height: 2.25rem; color: #fff; font-weight: bold; text-align: center; }
/* line 37, ../sass/_haiwai.scss */
.main div.list2 div.c .l .slides .main_image ul li div h5 a { text-decoration: none; color: #fff; }
/* line 637, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul li div p { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 20px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.25rem; color: #fff; }
/* line 37, ../sass/_haiwai.scss */
.main div.list2 div.c .l .slides .main_image ul li div p a { text-decoration: none; color: #fff; }
/* line 642, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul li div span { height: 12px; height: 0.75rem; width: 25px; width: 1.5625rem; display: inline-block; position: absolute; right: 26px; right: 1.625rem; top: -12px; top: -0.75rem; background: url("../xjp_images/ttt.png") no-repeat left bottom; }
/* line 652, ../sass/xxl.scss */
.main div.list2 div.c .l .slides .main_image ul li img { height: 466px; height: 29.125rem; }
/* line 658, ../sass/xxl.scss */
.main div.list2 div.c .l .slides div.flicking_con { bottom: 2px; bottom: 0.125rem; width: 368px; width: 23rem; }
/* line 664, ../sass/xxl.scss */
.main div.list2 div.c .r { height: auto; overflow: hidden; float: right; }
/* line 668, ../sass/xxl.scss */
.main div.list2 div.c .r ul li { overflow: hidden; float: left; margin: 15px 0px 0px 0px; margin: 0.9375rem 0rem 0rem 0rem; }
/* line 674, ../sass/xxl.scss */
.main div.list2 div.c .r ul li img { vertical-align: top; }
/* line 677, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div { height: auto; background-color: #fff; }
/* line 680, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div h4 { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 14px; line-height: 32px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.875rem; line-height: 2rem; color: #000; font-weight: bold; text-align: center; padding: 0px 5px 5px 5px; padding: 0rem 0.3125rem 0.3125rem 0.3125rem; }
/* line 37, ../sass/_haiwai.scss */
.main div.list2 div.c .r ul li div h4 a { text-decoration: none; color: #000; }
/* line 688, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div p { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 24px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.5rem; color: #666666; padding: 0px 5px 0px 5px; padding: 0rem 0.3125rem 0rem 0.3125rem; }
/* line 37, ../sass/_haiwai.scss */
.main div.list2 div.c .r ul li div p a { text-decoration: none; color: #666666; }
/* line 47, ../sass/_haiwai.scss */
.main div.list2 div.c .r ul li div p a:hover, .main div.list2 div.c .r ul li div p a:active { text-decoration: underline; }
/* line 695, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div span { height: 12px; height: 0.75rem; width: 25px; width: 1.5625rem; overflow: hidden; display: none; }
/* line 702, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div:hover { background-color: #5b7493; position: relative; }
/* line 705, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div:hover h4, .main div.list2 div.c .r ul li div:hover p { color: #fff; }
/* line 707, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div:hover h4 a, .main div.list2 div.c .r ul li div:hover p a { color: #fff; }
/* line 711, ../sass/xxl.scss */
.main div.list2 div.c .r ul li div:hover span { display: inline-block; background: url("../xjp_images/ttt.png") no-repeat bottom center; position: absolute; top: -12px; top: -0.75rem; right: 12px; right: 0.75rem; display: block; }
/* line 725, ../sass/xxl.scss */
.main div.list3 { height: auto; overflow: hidden; }
@media (max-width: 768px) { /* line 728, ../sass/xxl.scss */
  .main div.list3 .l { width: 100%; }
  /* line 733, ../sass/xxl.scss */
  .main div.list3 .l .list2 .l div.i div { width: 100%; padding: 0 0 0.625rem; }
  /* line 739, ../sass/xxl.scss */
  .main div.list3 .l .list2 .r { width: 100%; }
  /* line 742, ../sass/xxl.scss */
  .main div.list3 .l .list2 .r ul li { width: 100%; height: auto; }
  /* line 745, ../sass/xxl.scss */
  .main div.list3 .l .list2 .r ul li img { height: 100%; }
  /* line 754, ../sass/xxl.scss */
  .main div.list3 .r { width: 100%; } }
@media (min-width: 769px) { /* line 759, ../sass/xxl.scss */
  .main div.list3 .l { width: 42.125rem; }
  /* line 764, ../sass/xxl.scss */
  .main div.list3 .l .list2 .l div.i div { width: 20.5rem; padding: 0 1.25rem 0.625rem; }
  /* line 770, ../sass/xxl.scss */
  .main div.list3 .l .list2 .r { width: 17.0625rem; }
  /* line 773, ../sass/xxl.scss */
  .main div.list3 .l .list2 .r ul li { width: 15.125rem; height: 14.25rem; }
  /* line 776, ../sass/xxl.scss */
  .main div.list3 .l .list2 .r ul li img { width: 15.125rem; height: 8.8125rem; }
  /* line 786, ../sass/xxl.scss */
  .main div.list3 .r { width: 18.25rem; } }
/* line 790, ../sass/xxl.scss */
.main div.list3 .l { height: auto; overflow: hidden; float: left; }
/* line 794, ../sass/xxl.scss */
.main div.list3 .l .list2 .r { margin-top: 0; }
/* line 798, ../sass/xxl.scss */
.main div.list3 .l .list2 .l div.i { height: 466px; height: 29.125rem; position: relative; }
/* line 801, ../sass/xxl.scss */
.main div.list3 .l .list2 .l div.i div { background-color: #5b7493; position: absolute; left: 0; bottom: 0; }
/* line 806, ../sass/xxl.scss */
.main div.list3 .l .list2 .l div.i div h5 { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 14px; line-height: 36px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.875rem; line-height: 2.25rem; color: #fff; font-weight: bold; text-align: center; }
/* line 37, ../sass/_haiwai.scss */
.main div.list3 .l .list2 .l div.i div h5 a { text-decoration: none; color: #fff; }
/* line 813, ../sass/xxl.scss */
.main div.list3 .l .list2 .l div.i div p { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 20px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.25rem; color: #fff; }
/* line 37, ../sass/_haiwai.scss */
.main div.list3 .l .list2 .l div.i div p a { text-decoration: none; color: #fff; }
/* line 818, ../sass/xxl.scss */
.main div.list3 .l .list2 .l div.i div span { height: 12px; height: 0.75rem; width: 25px; width: 1.5625rem; display: inline-block; position: absolute; right: 26px; right: 1.625rem; top: -12px; top: -0.75rem; background: url("../xjp_images/ttt.png") no-repeat left bottom; }
/* line 829, ../sass/xxl.scss */
.main div.list3 .l .list2 .l div.i img { height: 466px; height: 29.125rem; width: 368px; width: 23rem; }
/* line 837, ../sass/xxl.scss */
.main div.list3 .r { height: auto; overflow: hidden; float: right; margin: 20px 0px 0px 0px; margin: 1.25rem 0rem 0rem 0rem; }
/* line 841, ../sass/xxl.scss */
.main div.list3 .r h3 { height: 24px; height: 1.5rem; overflow: hidden; font-family: Microsoft YaHei; font-size: 20px; line-height: 24px; font-family: Microsoft YaHei; font-size: 1.25rem; line-height: 1.5rem; color: #000; margin: 6px 0px 0px 0px; margin: 0.375rem 0rem 0rem 0rem; padding: 0px 0px 0px 15px; padding: 0rem 0rem 0rem 0.9375rem; }
/* line 37, ../sass/_haiwai.scss */
.main div.list3 .r h3 a { text-decoration: none; color: #000; }
/* line 850, ../sass/xxl.scss */
.main div.list3 .r .t { margin: 8px 0px 0px 0px; margin: 0.5rem 0rem 0rem 0rem; height: auto; overflow: hidden; border: 1px solid #d6d6d6; border: 0.0625rem solid #d6d6d6; padding: 15px 15px 15px 15px; padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem; }
/* line 855, ../sass/xxl.scss */
.main div.list3 .r .t div.m { height: 184px; height: 11.5rem; overflow: hidden; position: relative; }
/* line 859, ../sass/xxl.scss */
.main div.list3 .r .t div.m div { height: 34px; height: 2.125rem; width: 260px; width: 16.25rem; position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }
/* line 867, ../sass/xxl.scss */
.main div.list3 .r .t div.m p { width: 260px; width: 16.25rem; height: 34px; height: 2.125rem; padding: 0px 0px 0px 32px; padding: 0rem 0rem 0rem 2rem; position: absolute; left: 0; bottom: 0; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 34px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 2.125rem; color: #fff; background: url("../xjp_images/v1.png") no-repeat 7px center; background: url("../xjp_images/v1.png") no-repeat 0.4375rem center; }
/* line 37, ../sass/_haiwai.scss */
.main div.list3 .r .t div.m p a { text-decoration: none; color: #fff; }
/* line 879, ../sass/xxl.scss */
.main div.list3 .r .t div.m img { height: 184px; height: 11.5rem; width: 260px; width: 16.25rem; }
/* line 886, ../sass/xxl.scss */
.main div.list3 .r .t ul li { height: 18px; height: 1.125rem; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 18px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.125rem; color: #000; padding: 0px 0px 0px 30px; padding: 0rem 0rem 0rem 1.875rem; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; background: url("../xjp_images/xxl_65.jpg") no-repeat 5px center; background: url("../xjp_images/xxl_65.jpg") no-repeat 0.3125rem center; }
/* line 37, ../sass/_haiwai.scss */
.main div.list3 .r .t ul li a { text-decoration: none; color: #000; }
/* line 47, ../sass/_haiwai.scss */
.main div.list3 .r .t ul li a:hover, .main div.list3 .r .t ul li a:active { text-decoration: underline; }
/* line 900, ../sass/xxl.scss */
.main div.list4 { margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; height: auto; overflow: hidden; }
@media (max-width: 768px) { /* line 906, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image { width: 100%; }
  /* line 910, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image ul li div { width: 100%; left: 0; bottom: 0; }
  /* line 915, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image ul li p { width: 100%; left: 0; bottom: 0; }
  /* line 920, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image ul li img { width: 100%; }
  /* line 926, ../sass/xxl.scss */
  .main div.list4 div.c .slides a.btn_prev, .main div.list4 div.c .slides a.btn_next { display: none; } }
@media (min-width: 769px) { /* line 935, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image { width: 43.75rem; }
  /* line 939, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image ul li div { width: 42.5rem; left: 0.625rem; bottom: 0.625rem; }
  /* line 944, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image ul li p { width: 42.5rem; left: 0.625rem; bottom: 0.625rem; }
  /* line 949, ../sass/xxl.scss */
  .main div.list4 div.c .slides .main_image ul li img { width: 43.75rem; height: 26.25rem; }
  /* line 956, ../sass/xxl.scss */
  .main div.list4 div.c .slides a.btn_prev, .main div.list4 div.c .slides a.btn_next { display: inline-block; } }
/* line 962, ../sass/xxl.scss */
.main div.list4 div.c { height: auto; overflow: hidden; margin: 35px 0px 0px 0px; margin: 2.1875rem 0rem 0rem 0rem; padding: 0px 0px 70px 0px; padding: 0rem 0rem 4.375rem 0rem; background: url("../xjp_images/xxl_09.jpg") no-repeat center bottom; /*幻灯片*/ }
/* line 968, ../sass/xxl.scss */
.main div.list4 div.c .slides { height: 420px; height: 26.25rem; position: relative; }
/* line 970, ../sass/xxl.scss */
.main div.list4 div.c .slides .main_image { height: 420px; height: 26.25rem; margin: 0 auto; }
/* line 974, ../sass/xxl.scss */
.main div.list4 div.c .slides .main_image ul li { height: 420px; height: 26.25rem; }
/* line 976, ../sass/xxl.scss */
.main div.list4 div.c .slides .main_image ul li div { height: 62px; height: 3.875rem; background: rgba(0, 0, 0, 0.5); position: absolute; overflow: hidden; }
/* line 982, ../sass/xxl.scss */
.main div.list4 div.c .slides .main_image ul li p { height: 62px; height: 3.875rem; position: absolute; z-index: 100; overflow: hidden; font-family: Microsoft YaHei; font-size: 26px; line-height: 62px; font-family: Microsoft YaHei; font-size: 1.625rem; line-height: 3.875rem; color: #fff; }
/* line 37, ../sass/_haiwai.scss */
.main div.list4 div.c .slides .main_image ul li p a { text-decoration: none; color: #fff; }
/* line 989, ../sass/xxl.scss */
.main div.list4 div.c .slides .main_image ul li p span { width: 5px; width: 0.3125rem; height: 62px; height: 3.875rem; margin: 0px 20px 0px 0px; margin: 0rem 1.25rem 0rem 0rem; float: left; display: inline-block; background-color: #fff; }
/* line 1004, ../sass/xxl.scss */
.main div.list4 div.c .slides div.flicking_con { display: none; }
/* line 1007, ../sass/xxl.scss */
.main div.list4 div.c .slides a.btn_prev, .main div.list4 div.c .slides a.btn_next { z-index: 11111; position: absolute; height: 43px; height: 2.6875rem; width: 43px; width: 2.6875rem; margin: -21px 0px 0px 0px; margin: -1.3125rem 0rem 0rem 0rem; top: 50%; }
/* line 1015, ../sass/xxl.scss */
.main div.list4 div.c .slides a.btn_prev { background: url(../xjp_images/left.jpg) no-repeat left top; left: 20px; left: 1.25rem; }
/* line 1019, ../sass/xxl.scss */
.main div.list4 div.c .slides a.btn_next { background: url(../xjp_images/right.jpg) no-repeat right top; right: 20px; right: 1.25rem; }
/* line 1026, ../sass/xxl.scss */
.main div.footer { height: auto; overflow: hidden; border: 2px solid #d8d8d8; border: 0.125rem solid #d8d8d8; margin: 10px 0px 0px 0px; margin: 0.625rem 0rem 0rem 0rem; padding: 0px 16px 16px 16px; padding: 0rem 1rem 1rem 1rem; }
/* line 1031, ../sass/xxl.scss */
.main div.footer h3 { border-bottom: 1px solid #d8d8d8; border-bottom: 0.0625rem solid #d8d8d8; font-family: Microsoft YaHei; font-size: 20px; line-height: 44px; font-family: Microsoft YaHei; font-size: 1.25rem; line-height: 2.75rem; color: #000; margin: 6px 0px 0px 0px; margin: 0.375rem 0rem 0rem 0rem; padding: 0px 0px 0px 10px; padding: 0rem 0rem 0rem 0.625rem; }
/* line 37, ../sass/_haiwai.scss */
.main div.footer h3 a { text-decoration: none; color: #000; }
/* line 1038, ../sass/xxl.scss */
.main div.footer div { height: auto; overflow: hidden; border-bottom: 1px dotted #bcbcbc; border-bottom: 0.0625rem dotted #bcbcbc; padding: 0px 0px 15px 0px; padding: 0rem 0rem 0.9375rem 0rem; }
/* line 1043, ../sass/xxl.scss */
.main div.footer div ul li { height: 54px; height: 3.375rem; width: 145px; width: 9.0625rem; margin: 15px 20px 0px 0px; margin: 0.9375rem 1.25rem 0rem 0rem; overflow: hidden; float: left; }
/* line 1049, ../sass/xxl.scss */
.main div.footer div ul li img { width: 145px; width: 9.0625rem; height: 54px; height: 3.375rem; }
/* line 1056, ../sass/xxl.scss */
.main div.footer p { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 32px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 2rem; color: #666666; }
/* line 37, ../sass/_haiwai.scss */
.main div.footer p a { text-decoration: none; color: #666666; }
/* line 1060, ../sass/xxl.scss */
.main div.footer p a { margin: 0px 22px 0px 0px; margin: 0rem 1.375rem 0rem 0rem; }

/*幻灯片*/
/* line 1069, ../sass/xxl.scss */
.slides { overflow: hidden; position: relative; /*#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../img/hover_left.png) no-repeat left top;left:10px;}
#btn_next{background:url(../img/hover_right.png) no-repeat right top;right:10px;}
*/ }
/* line 1072, ../sass/xxl.scss */
.slides .main_image { overflow: hidden; position: relative; }
/* line 1073, ../sass/xxl.scss */
.slides .main_image ul { overflow: hidden; position: absolute; top: 0; left: 0; }
/* line 1074, ../sass/xxl.scss */
.slides .main_image li { float: left; }
/* line 1076, ../sass/xxl.scss */
.slides .main_image li img { display: block; width: 100%; height: 100%; }
/* line 1082, ../sass/xxl.scss */
.slides div.flicking_con { position: absolute; left: 0; z-index: 999; height: 21px; height: 1.3125rem; text-align: center; }
/* line 1088, ../sass/xxl.scss */
.slides div.flicking_con a { height: 21px; height: 1.3125rem; width: 21px; width: 1.3125rem; margin: 0; padding: 0; background: url("../xjp_images/btn01.png") no-repeat; background-size: cover; display: inline-block; }
/* line 1096, ../sass/xxl.scss */
.slides div.flicking_con a.on { background: url("../xjp_images/btn02.png") no-repeat; background-size: cover; }
/* line 1102, ../sass/xxl.scss */
.slides .btn_prev, .slides .btn_next { display: none; }

/* line 1112, ../sass/xxl.scss */
.adr { margin-top: 10px; margin-top: 0.625rem; }

/* line 123, ../sass/_haiwai.scss */
.btm, .haiwai_footer { width: 100%; height: auto; overflow: hidden; }
/* line 126, ../sass/_haiwai.scss */
.btm div, .haiwai_footer div { height: auto; overflow: hidden; max-width: 980px; max-width: 61.25rem; margin: 0 auto; margin-top: 10px; margin-top: 0.625rem; }
/* line 133, ../sass/_haiwai.scss */
.btm div p, .haiwai_footer div p { height: auto; overflow: hidden; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; line-height: 24px; font-family: SimSun, Helvetica, Arial, Verdana, sans-serif; font-size: 0.75rem; line-height: 1.5rem; color: #666; text-align: center; }
/* line 37, ../sass/_haiwai.scss */
.btm div p a, .haiwai_footer div p a { text-decoration: none; color: #666; }
